<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
    <startup> 
    </startup>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /><plugins>
      <add name="TestStack.Seleno.BrowserStack" path="..\packages\TestStack.Seleno.BrowserStack.SpecFlowPlugin.1.0.8.8\lib\net451" type="GeneratorAndRuntime" />
    </plugins><stepAssemblies>
      <stepAssembly assembly="TestStack.Seleno.BrowserStack.Core" />
    </stepAssemblies></specFlow>
    <appSettings>
    <add key="browserStackRemoteDriverUrl" value="http://hub.browserstack.com/wd/hub/" />
    <add key="buildNumber" value="" />
    <add key="browserStackApiUrl" value="https://www.browserstack.com/automate/" />
    <!-- Uncomment below to run test locally/remotely-->
    <!--<add key="useLocalBrowser" value="Chrome" />-->
    
    <!-- Please fill in your browser stack username / access key below 
      (can be found at https://www.browserstack.com/accounts/settings) : -->
    <!--      
     <add key="browserStack.user" value="<yourUserNameHere>" />
     <add key="browserstack.key" value="<yourAccessKeyHere>" />
    -->
    <add key="URL" value="http://localhost:60634/" />
    <add key="TestDataSheetPath" value="C:\VS projects\TeamWorkDefenseBartlett\TeamWorkInitialProject\BartlettAreTheQAs\BartlettAreTheQAs\ExcelFilesData\" />
    <add key="Logs" value="C:\VS projects\TeamWorkDefenseBartlett\TeamWorkInitialProject\BartlettAreTheQAs\BartlettAreTheQAs\Logs\" />
  </appSettings>
    
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
